html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container-head {
    display: flex;
    height: 100%;
}
.left-container, .right-container {
    margin: 0;
    width: 50%;
    height: 100%;
    font-family: 'Roboto';
}

.left-container {
    background-color: #F6B93B;
}

.left-container p {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}

.right-container a {
    margin-right: 50px;
    margin-top: 20px; 
    float: right;
    clear: both;
    text-decoration: none;
    color: #5D5A5A
}

.right-container p {
    font-family: 'Playfair Display';
    position: relative;
    font-size: 3.25em;
    color: #F6B93B;
    left: 35%;
    top: 40%;
}

.container-head img {
    position: absolute;
    max-width: 100%;
    height: auto;
    width: auto\9;
    top: 18%;
    left: 6%;
    -webkit-box-shadow: -14px 17px 16px 0px rgba(33,33,33,0.15);    
    -moz-box-shadow: -14px 17px 16px 0px rgba(33,33,33,0.15);
    box-shadow: -14px 17px 16px 0px rgba(33,33,33,0.15);
    animation-duration: 2s;
}

.container-2 {
    height: 550px;
    text-align: center;
}

.container-2 p {
    font-family: 'Playfair Display';
    color: #F6B93B;
    line-height: 50px;
}

.line {
    margin-top: 70px;
    font-size: 2.5em;
}

.item{
    margin-top: 70px;
    height: 300px;
    text-align: center;
}

.quote {
    padding-top: 100px;
    width: 50%;
    margin: 0 auto;
    font-size: 2.25em;
}

.author {
    margin-top: 20px;
    font-size: 1.5em;
}

.container-3 {
    text-align: center;
    margin-top: 50px;
    height: 350px;
}

.container-3 p {
    font-family: "Playfair Display";
    font-size: 2.25em;
    display: block;
    color: #5D5A5A;
}

.directions {
    margin-top: 100px;
}

footer {
    text-align: center;
    font-family: 'Roboto'
}

footer a {
    cursor: pointer;
}

@media (max-width: 500px) {
    .container-head {
        height: 50%;
    }
    .right-container > p {
        font-size: 1em;
    }
    .line {
        font-size: 1em;
        line-height: 25px !important;
    }
    .quote {
        font-size: 1em;
        line-height: 25px !important;
    }
    .author {
        font-size: 0.85em;
    }
    .container-3 {
        margin-top: 0 !important;
    }
    .container-3 p {
        font-size: 1.5em;
    }
    .directions {
        width: 300px;
    }
}